aiohttp==3.8.1
aiosignal==1.2.0
anyio==3.3.4
appdirs==1.4.4
argon2-cffi==21.1.0
asgiref==3.4.1
async-timeout==4.0.1
attrs==21.2.0
Babel==2.9.1
backcall==0.2.0
bleach==4.1.0
boto3==1.19.2
botocore==1.22.2
cachetools==4.2.4
certifi==2020.6.20
cffi==1.15.0
cfscrape==2.1.1
chardet==3.0.4
charset-normalizer==2.0.9
Click==7.0
colorama==0.4.4
cycler==0.10.0
debugpy==1.5.1
decorator==5.0.9
defusedxml==0.7.1
distlib==0.3.2
dj-database-url==0.5.0
Django==3.2.8
django-filter==21.1
django-heroku==0.3.1
django-storages==1.12.2
djangorestframework==3.13.1
djangorestframework-simplejwt==5.0.0
docker==5.0.0
entrypoints==0.3
filelock==3.0.12
Flask==2.0.1
frozenlist==1.2.0
gunicorn==20.1.0
hashids==1.3.1
httpie==2.6.0
idna==2.9
ipinfo==4.2.1
ipykernel==6.5.0
ipython==7.24.1
ipython-genutils==0.2.0
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.1
jmespath==0.10.0
json5==0.9.6
jsonschema==4.1.2
jupyter-client==7.0.6
jupyter-core==4.9.1
jupyter-server==1.11.2
jupyterlab==3.2.1
jupyterlab-pygments==0.1.2
jupyterlab-server==2.8.2
kiwisolver==1.3.1
MarkupSafe==2.0.1
matplotlib==3.3.3
matplotlib-inline==0.1.2
mistune==0.8.4
multidict==5.2.0
mysql-connector-python==8.0.27
nbclassic==0.3.4
nbclient==0.5.4
nbconvert==6.2.0
nbformat==5.1.3
nest-asyncio==1.5.1
notebook==6.4.5
numpy==1.19.3
oauthlib==3.1.1
packaging==21.2
pandas==1.2.5
pandocfilters==1.5.0
parso==0.8.2
pickleshare==0.7.5
Pillow==8.0.1
prometheus-client==0.12.0
prompt-toolkit==3.0.18
psycopg2==2.9.1
pycparser==2.20
Pygments==2.9.0
PyJWT==2.3.0
pyparsing==2.4.7
pyrsistent==0.18.0
PySocks==1.7.1
python-dateutil==2.8.1
python-dotenv==0.17.1
pytz==2021.1
pywinpty==1.1.5
PyYAML==5.4.1
pyzbar==0.1.8
pyzmq==22.3.0
requests==2.24.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
retrying==1.3.3
s3transfer==0.5.0
scrapinghub==2.3.1
selenium==3.141.0
Send2Trash==1.8.0
six==1.15.0
sniffio==1.2.0
sqlparse==0.4.2
terminado==0.12.1
testpath==0.5.0
toml==0.10.2
tornado==6.1
tqdm==4.55.1
traitlets==5.1.1
tweepy==3.10.0
typing_extensions==4.0.1
urllib3==1.25.9
virtualenv==20.4.7
wcwidth==0.2.5
webbot==0.34
webencodings==0.5.1
websocket-client==1.1.0
Werkzeug==2.0.1
whitenoise==5.3.0
yarl==1.7.2
