{% load static %}

<nav class="navbar navbar-expand-lg  navbar-custom">
  <div class="container-fluid">
    <img class="imgstyle" src="{% static 'images/sample.png' %}" width="160">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span><i class="fas fa-bars"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard' %}">DASHBOARD</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard' %}">ABOUT</a>
        </li>
        
      </ul>
      {% if request.user.is_authenticated %}
      <ul class="navbar-nav text-right">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            @<i>{{request.user}}</i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item logout-link" href="{% url 'logout' %}">Logout <i class="fas fa-sign-out-alt"></i></a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
          </ul>
        </li>
      </ul>
      {% endif %}
    </div>
  </div>
</nav>